node_modules/**/*
node_modules/

dist/**/*
dist/

coverage/**/*
coverage/

.git/**/*
.git/

.vscode/**/*
.vscode/

*.bat
*.cfg
*.yml
*.md
.eslintrc*
.prettierrc*
.gitignore
*.spec*
*.test*
.editorconfig
nodemon.json
.gitignore
.gitattributes
example.env
.env